body {
	font-family: 'Koh Santepheap',
	cursive;
	margin: 0;
	padding: 0;
	background: aliceblue;
	width: 100%;
	margin-top: 70px;
	display: flex;
	justify-content: center;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	border: none;
	outline: none;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.container {
	position: relative;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	width: 350px;
	height: 500px;
}

.header {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	background-image: linear-gradient(130deg, #fbc2eb 0%, #a6c1ee 100%);
	font-weight: 600;
	font-size: 20px;
	height: 50px;
	color: #fff;
	text-align: center;
	line-height: 45px;
}

.ul {
	position: relative;
	background-color: rgba(245, 245, 245, 0.911);
	min-height: 400px;
	overflow: hidden;
}

.ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 18px;
	background: transparent;
}

input {
	position: absolute;
	bottom: 50px;
	width: 325px;
	height: 30px;
	padding: 4px 12px;
	font-size: 16px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-image: linear-gradient(130deg, #fbc2eb 0%, #a6c1ee 100%);
	margin: auto;
	height: 50px;
}

.addBtn {
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #000;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}

.addBtn i {
	z-index: 1;
	transition: all 300ms ease-in-out;
	font-size: 28px;
}

.addBtn:hover {
	transform: scale(1.1);
}